.tooltip-container {
  display: inline-block;
  position: relative;

  .tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #000;
    color: #FFF;
    padding: 5px 10px;

    &.active {
      display: inline-block;
    }
  }
}
