.tooltip-container {
  display: inline-block;
  position: relative;

  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);

    .arrow {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
